body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 320px;
  height: 480px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

/* видео-фон */
.candle-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* затемнение поверх видео */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* текст предсказания */
#prediction {
  position: relative;
  z-index: 2;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  text-shadow: 0 2px 10px rgba(0,0,0,0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

   opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
